* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right bottom, rgb(115, 255, 0), rgb(50, 158, 0));
}

.contact-form {
    width: 700px;
    height: fit-content;
    box-shadow: 8px 12px 30px rgba(0, 0, 0, 0.3);
    text-align: center;
    background: #fff;
}

.contact-form form {
    width: 80%;
    height: fit-content;
    margin: 10px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-form form input {
    width: 90%;
    height: 40px;
    font-size: 24px;
    margin: 30px 0;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 3px 5px 20px rgba(0, 200, 0, 0.3) inset;
    /* background-color: rgb(0, 44, 2); */
    /* color: #fff; */
    outline: none;
}

.contact-form form textarea {
    width: 90%;
    height: 200px;
    resize: none;
    font-size: 23px;
    border-radius: 10px;
    border: none;
    box-shadow: 3px 5px 20px rgba(0, 200, 0, 0.3) inset;
    /* background-color: rgb(0, 44, 2); */
    padding: 5px 10px;
    /* color: #fff; */
    outline: none;
}

.contact-form form button {
    width: 150px;
    height: 50px;
    margin: 30px 0;
    font-size: 27px;
    background: linear-gradient(to right, rgb(0, 194, 10), rgb(0, 117, 6));
    border-radius: 5px;
    border: none;
    color: #fff;
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
}