* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 500px;
    height: 550px;
    margin: 40px auto;
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
}

.form-header {
    width: 300px;
    height: 50px;
    border-radius: 100px;
    box-shadow: 3px 5px 20px rgba(255, 251, 0, 0.596);
    margin: 20px auto;
    display: flex;
    transition: all 0.5s;
}

.btn-auth {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 100px;
    background-color: #fff;
    font-size: 25px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.7s;
}

.active {
    background: linear-gradient(to right, red, orange);
    color: #fff;
    transition: 0.7s;
}

.form-container {
    width: 100%;
    height: 82%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    position: absolute;
    transition: 0.7s;
}

input {
    width: 80%;
    height: 40px;
    font-size: 25px;
    padding: 2px 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    margin: 0px auto;
}

.btn {
    width: 150px;
    height: 50px;
    margin: 40px auto;
    font-size: 25px;
    border-radius: 100px;
    border: none;
    background: linear-gradient(to right, red, orange);
    color: #fff;
    cursor: pointer;
}

.register {
    right: -500px;
}